{% extends 'questions/layout.html' %}

{% block content %}

  <div class="question">

    <div id="questionbox">
      <h2 class="question_title">Question Archive</h2>
    <ul class="question_answers">
      {% for answer in question.answer_set.all %}
      <li>
        <div class="question_answer">
          <p class="answer">{{ answer.answer_text }}</p>
          <p class="author">{{ answer.person.name }} <a href="http://www.twitter.com/{{ answer.person }}" rel="external">@{{ answer.person }}</a> / {{answer.created_at|date:"g:ia"}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}