{% extends 'questions/layout.html' %}

{% block content %}

  <div class="question">

    <div id="questionbox">
      <h2 class="question_title"><span>#{{ question.id }}</span> {{ question.question }} {{ test }}</h2>
       <div class="tweet"><span>Tweet your answer: </span><a href="https://twitter.com/intent/tweet?screen_name=favouriteQ" class="twitter-mention-button" data-related="guntlondon" data-dnt="true">Tweet to @favouriteQ</a></div>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <ul class="question_answers">
      {% for answer in question.answer_set.all %}
      <li>
        <div class="question_answer">
          <p class="answer">{{ answer.answer_text }}</p>
          <p class="author">{{ answer.person.name }} <a href="http://www.twitter.com/{{ answer.person }}" rel="external">@{{ answer.person }}</a> / {{answer.created_at|date:"g:ia"}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}