/* _base.html5bp.scss */
/* HTML5 Boilerplate  */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/* _base.typography.scss */
.font-josefin-bold, .font-josefin-bold-italic, .question #questionbox .tweet,
.collapsable #questionbox .tweet, .question #questionbox h2 span,
.collapsable #questionbox h2 span, .question h3,
.collapsable h3, h1, h2, a, p, span, form, form textarea,
form input[type="text"], form input[type="submit"], nav ul li:before, #logo {
  font-family: 'Josefin Slab', serif;
  font-weight: bold; }

.font-josefin-bold-italic, .question #questionbox .tweet,
.collapsable #questionbox .tweet, .question #questionbox h2 span,
.collapsable #questionbox h2 span, .question h3,
.collapsable h3 {
  font-style: italic; }

/* _base.standard.scss */
body {
  background: url("../img/pattern_200x200.png") repeat scroll 0 0 black;
  padding-bottom: 25px; }

h1 {
  color: #000; }

h2, h3 {
  color: #fff; }

a {
  color: #999;
  text-decoration: none; }
  a:visited {
    color: #999; }
  a:hover {
    color: #e41869; }

p {
  color: #999;
  padding: 0;
  margin: 0; }

nav ul,
#main {
  max-width: 1000px;
  margin: 0 auto; }

form legend {
  display: none; }
form fieldset {
  border: 0; }
form label {
  color: #fff;
  text-align: right;
  display: block; }
form textarea,
form input[type="text"] {
  background: #e41869;
  border: none;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  outline: none;
  width: 100%;
  margin: 10px auto;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
form input[type="submit"] {
  -webkit-appearance: none;
  padding: 0;
  background: none;
  border: none;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  display: block;
  border-bottom: 5px solid #fff; }
  form input[type="submit"]:hover {
    color: #ccc;
    border-bottom-color: #ccc; }
form ::-webkit-input-placeholder {
  color: #ccc; }
form :-moz-placeholder {
  color: #ccc; }
form input:invalid,
form textarea:invalid {
  background-color: #e41869; }
form .input-container {
  width: 100%;
  margin: 20px auto; }

/* _header.scss */
nav {
  border-bottom: 1px solid #e41869;
  background: #000; }
  nav ul {
    text-align: center; }
    nav ul li {
      display: inline-block;
      padding-top: 10px;
      padding-bottom: 11px;
      padding-left: 9px;
      padding-right: 18px;
      position: relative; }
      nav ul li:before,
      nav ul li a {
        color: #999; }
      nav ul li:before {
        content: '/';
        display: block;
        position: absolute;
        right: -2px;
        top: 4px;
        font-size: 30px; }
      nav ul li a {
        text-decoration: none;
        font-size: 20px; }
        nav ul li a:hover, nav ul li a.active {
          color: #e41869; }
      nav ul li.last {
        padding-right: 0; }
        nav ul li.last:before {
          content: ""; }

#logo {
  font-size: 80px;
  background: url("../img/logo_bg.png") no-repeat scroll 0 0;
  width: 220px;
  height: 132px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 30px;
  padding-top: 18px; }

.collapsable {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 1.0s ease-in-out;
  -moz-transition: all 1.0s ease-in-out;
  -ms-transition: all 1.0s ease-in-out;
  -o-transition: all 1.0s ease-in-out;
  transition: all 1.0s ease-in-out; }
  .collapsable .collapsable-clip {
    max-width: 500px;
    margin: 0 auto 40px auto;
    padding: 0 0 40px 0;
    border-bottom: 10px solid #e41869; }
    .collapsable .collapsable-clip h2 {
      padding: 0 0 20px 0;
      margin-top: 0;
      margin-bottom: 20px;
      text-align: center; }
    .collapsable .collapsable-clip h3 {
      font-size: 22px;
      margin-bottom: 0.5em; }
    .collapsable .collapsable-clip p {
      font-size: 18px;
      line-height: 1.25;
      margin-bottom: 0.5em; }

/* _question.scss */
.question h2,
.question .question_answers .answer,
.collapsable h2,
.collapsable .question_answers .answer {
  font-size: 40px;
  line-height: 46px; }
.question #questionbox .tweet,
.collapsable #questionbox .tweet {
  color: #fff;
  font-size: 18px;
  max-width: 500px;
  text-align: center;
  border-bottom: 10px solid #e41869;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  padding-bottom: 20px; }
  .question #questionbox .tweet a, .question #questionbox .tweet span, .question #questionbox .tweet iframe,
  .collapsable #questionbox .tweet a,
  .collapsable #questionbox .tweet span,
  .collapsable #questionbox .tweet iframe {
    display: block;
    margin: 0 auto;
    text-align: center; }
  .question #questionbox .tweet iframe,
  .collapsable #questionbox .tweet iframe {
    margin-top: 3px; }
.question #questionbox .divider,
.collapsable #questionbox .divider {
  max-width: 500px;
  text-align: center;
  border-bottom: 10px solid #e41869;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  padding-bottom: 20px; }
.question #questionbox h2,
.collapsable #questionbox h2 {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding-bottom: 22px; }
  .question #questionbox h2 span,
  .collapsable #questionbox h2 span {
    color: #999;
    padding-right: 18px; }
.question h3,
.collapsable h3 {
  margin-bottom: 0; }
.question .question_answers,
.collapsable .question_answers {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 0; }
  .question .question_answers .answer,
  .collapsable .question_answers .answer {
    color: #fff;
    margin-top: 36px;
    padding-bottom: 6px; }
  .question .question_answers .author,
  .collapsable .question_answers .author {
    font-size: 16px; }
    .question .question_answers .author a,
    .collapsable .question_answers .author a {
      color: #fff; }
      .question .question_answers .author a:hover,
      .collapsable .question_answers .author a:hover {
        color: #e41869; }

@media (max-width:480px) {
  /* NAV */
  nav ul {
    padding-top: 2px;
    padding-bottom: 2px; }
    nav ul li {
      padding-top: 5px;
      padding-bottom: 5px; }
      nav ul li a {
        font-size: 14px; }

  /* LOGO */
  #logo {
    font-size: 40px;
    background: url("../img/logo_bg.png") no-repeat scroll 0 0;
    background-size: contain;
    width: 110px;
    height: 66px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 15px auto;
    padding-top: 9px; }

  /* TYPOGRAPHY */
  .question h2,
  .question .question_answers .answer,
  .collapsable h2,
  .collapsable .question_answers .answer {
    font-size: 20px;
    line-height: 23px; }

  .question h2,
  .collapsable h2 {
    border-bottom-width: 5px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px; }

  /* QUESTIONS AND ANSWERS */
  .question .question_answers .answer {
    margin-top: 18px; }

  .collapsable .collapsable-clip {
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; } }
/* _base.html5bp.mobile.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
