node_modules
npm-debug.log
deploy/app/app.js

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
*.pyc

/env/
/.DS_Store
/favouriteQ/favouriteQ/localsettings/localsettings.py
/favouriteQ/questions/static/questions/.sass-cache/