.collapsable {

  position:relative;
  height:0;
  overflow:hidden;

  -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -ms-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out;

  .collapsable-clip {
    max-width:500px;
    margin:0 auto 40px auto;
    padding:0 0 40px 0;
    border-bottom:10px solid #e41869;

    h2 {
      padding:0 0 20px 0;
      margin-top:0;
      margin-bottom:20px;
      text-align:center;
    }

    h3 {
      font-size:22px;
      margin-bottom:0.5em;
    }

    p {
      font-size:18px;
      line-height:1.25;
      margin-bottom:0.5em;
    }
  }
}