@media (max-width:480px) {


  /* NAV */
    nav {
      ul {
        padding-top:2px;
        padding-bottom:2px;

        li {

          padding-top:5px;
          padding-bottom:5px;

          a {
            font-size:14px;
          }
        }
      }
    }


  /* LOGO */
    #logo {
      font-size: 40px;
      background: url('../img/logo_bg.png') no-repeat scroll 0 0;
      background-size:contain;
      width: 110px;
      height: 66px;
      text-align: center;
      text-transform: uppercase;
      margin: 0 auto 15px auto;
      padding-top: 9px;
    }

  /* TYPOGRAPHY */
    .question h2,
    .question .question_answers .answer,
    .collapsable h2,
    .collapsable .question_answers .answer {
      font-size:20px;
      line-height:23px;
    }

    .question h2,
    .collapsable h2 {
      border-bottom-width:5px;
      padding-bottom:11px;
      padding-left:20px;
      padding-right:20px;
    }

  /* QUESTIONS AND ANSWERS */
    .question .question_answers .answer {
      margin-top:18px;
    }


  .collapsable .collapsable-clip {
    padding-bottom:20px;
    margin-bottom:20px;
    padding-left:20px;
    padding-right:20px;
  }
}