/* _question.scss */

.question,
.collapsable {

	h2,
	.question_answers .answer {
		font-size: 40px;
		line-height: 46px;
	}

	h2 {
		max-width: 500px;
		margin: 0 auto;
		border-bottom: 10px solid #e41869;
		position: relative;
		text-align: center;
		padding-bottom: 22px;

		span {
			@extend .font-josefin-bold-italic;
			color: #999;
			padding-right: 18px;
		}
	}

	h3 {
		@extend .font-josefin-bold-italic;
		margin-bottom:0;
	}

	.question_answers {
		max-width: 500px;
		margin: 0 auto;
		text-align: center;
		padding: 0;

		.answer {
			color: #fff;
			margin-top: 36px;
			padding-bottom: 6px;
		}

		.author {
			font-size: 16px;

			a {
				color:#fff;

				&:hover {
					color:#e41869;
				}
			}
		}
	}
}