/* _question.scss */

.question {

	h2,
	.question_answers .answer {
		font-size: 40px;
		line-height: 46px;
	}

	h2 {
		width: 500px;
		margin: 0 auto;
		border-bottom: 10px solid #e41869;		
		position: relative;
		text-align: center;
		padding-bottom: 22px;

		span {
			@extend .font-josefin-bold-italic;
			color: #999;
			padding-right: 18px;
		}
	}

	.question_answers {
		width: 500px;
		margin: 0 auto;
		text-align: center;
		padding: 0;

		.answer {
			color: #fff;
		}
	}
}